footer .row,.app-about-section .row{margin:0}
.app-footer-info{background-color:var(--dark-blue);font-size:14px;font-family:"Roboto";color:var(--gray-4);line-height:1.714;text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:50px 0}
.app-footer-info_content{max-width:320px;margin-right:89px}
.app-footer_title{font-size:19px;font-family:"Roboto";color:var(--light-blue);font-weight:700;line-height:1.678;text-align:left;margin-bottom:10px}
.app-footer-info_content dt{margin-top:20px}
.app-footer-info_content dd a:hover{text-decoration:underline}
.app-footer-info_content dd{font-size:15px;color:var(--white);line-height:1.667}
.app-footer-info_content .app-socPages-list{margin-top:30px}
.app-footer-info_content .flex{margin-top:40px;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.app-footer-info_content .flex li:not(:last-of-type){margin-right:50px}
.app-footer-map{padding:0;overflow:hidden}
.app-footer-map_content{display:-webkit-box;display:-ms-flexbox;display:flex;height:100%}
.app-footer-map_content iframe{height:100%;width:100%}
.app-footer_foot{background-color:var(--white);text-align:center;padding:18px;font-size:13px;font-family:"Roboto";color:var(--black-3);line-height:1.846}